<h1 style="display: none;">Cascais Groove</h1>

<div class="header">
  <%= image_tag("header.png", width: '100%', :style => "background-image", :class => "header_image") %>
</div>

<h2 style="display: none;">Cartaz</h2>

<div class="artist_index">
  <ul class="responsive_grid">
    <li>
      <div class="hover_container">
        <div class="info"><%= image_tag("24.jpg", :class => "header_image") %></div>
        <div class="info_reveal">
          <%= image_tag("logo_header.png", :class => "logo_hover") %>
          <h6>RUI VELOSO</h6>
          <h6>THE BLACK MAMBA</h6>
          <h6>24 DE JUNHO</h6>
        </div>
      </div>
    </li>
    <li>
      <div class="hover_container">
        <div class="info"><%= image_tag("25.jpg", :class => "header_image") %></div>
        <div class="info_reveal">
          <%= image_tag("logo_header.png", :class => "logo_hover") %>
          <h6>MAYRA ANDRADE</h6>
          <h6>SÉRGIO GODINHO & JORGE PALMA - JUNTOS</h6>
          <h6>25 DE JUNHO</h6>
        </div>
      </div>
    </li>
    <li>
      <div class="hover_container">
        <div class="info"><%= image_tag("26.jpg", :class => "header_image") %></div>
        <div class="info_reveal">
          <%= image_tag("logo_header.png", :class => "logo_hover") %>
          <h6>MIGUEL ARAÚJO</h6>
          <h6>JAMIE CULLUM</h6>
          <h6>26 DE JUNHO</h6>
        </div>
      </div>
    </li>
    <li>
      <div class="hover_container">
        <div class="info"><%= image_tag("day.jpg", :class => "header_image") %></div>
        <div class="info_reveal">
          <%= image_tag("logo_header.png", :class => "logo_hover") %>
          <h5>GROOVE KIDS</h5>
          <h5>BEING GROOVE</h5>
          <h5>ORGANIC GROOVE</h5>
          <h6>24 . 25 . 26 DE JUNHO</h6>
        </div>
      </div>
    </li>
  <ul>
</div>

<h2 style="display: none;">Bilhetes</h2>

<div class="separator">
  <div class="info_rectangle">
    <h3>PARQUE DE PALMELA<span> - CASCAIS</span></h3>
    <h4>24 . 25 . 26 JUNHO</h4>
  </div>
  <div class="call_to_buy">
    <a href="http://www.bol.pt/Comprar/Bilhetes/35492-cascais_groove_16-parque_de_palmela/" target="_blank">
      <button class="primary_button medium_button">
        <i class="fa fa-ticket"></i> COMPRAR BILHETES
      </button>
    </a>
  </div>
</div>

<h2 style="display: none;">Parceiros</h2>

<div class="partners">
  <div class="normais">
    <p class="left min_width_full highlight">APOIO:</p>
    <a href="http://www.turismodeportugal.pt/" target="_blank">
      <%= image_tag("logo6.png", :class => "header_image") %>
    </a>
  </div>
  <div class="parceiro">
    <p class="left min_width_full highlight">PARCEIRO:</p>
    <a href="http://www.organictakeaway.pt" target="_blank">
      <%= image_tag("logo10.png", :class => "header_image") %>
    </a>
    <a href="http://www.2eastworld.com/" target="_blank">
      <%= image_tag("logo12.png", :class => "header_image") %>
    </a>
  </div>
  <div class="media">
    <p class="left min_width_full highlight">MEDIA PARTNERS:</p>
    <a href="http://expresso.sapo.pt/" target="_blank">
      <%= image_tag("logo1.png", :class => "header_image") %>
    </a>
    <a href="http://sicnoticias.sapo.pt/" target="_blank">
      <%= image_tag("logo3.png", :class => "header_image") %>
    </a>
    <a href="http://rr.sapo.pt/" target="_blank">
      <%= image_tag("logo2.png", :class => "header_image") %>
    </a>
  </div>
  <div class="sponsors">
    <p class="left min_width_full highlight">SPONSORS:</p>
    <a href="http://www.mazda.pt/" target="_blank">
      <%= image_tag("logo7.png", :class => "header_image") %>
    </a>
    <a href="http://www.santogal.pt/" target="_blank">
      <%= image_tag("logo8.png", :class => "header_image") %>
    </a>
    <a href="http://nutri-ventures.com/pt/" target="_blank">
      <%= image_tag("logo9.png", :class => "header_image") %>
    </a>
    <a href="http://www.bairrodosmuseus.pt/" target="_blank">
      <%= image_tag("logo11.png", :class => "header_image") %>
    </a>
  </div>
  <div class="organizacao">
    <p class="left min_width_full highlight">CO-ORGANIZAÇÃO:</p>
    <a href="http://www.cascais.pt/" target="_blank">
      <%= image_tag("logo5.png", :class => "header_image") %>
    </a>
    <a href="http://www.domingonomundo.pt/" target="_blank">
      <%= image_tag("logo0.png", :class => "header_image") %>
    </a>
  </div>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77070631-1', 'auto');
  ga('send', 'pageview');

</script>
